{% extends "brubeck/base.html" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block meta_description %}
You must be logged in to the Brubeck database in order to perform some
operations. Please log in using this form.
{% endblock %}

{% block content %}
<form action="" method="POST" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
        <button class="btn">Login</button>
    </div>
</form>
{% endblock %}