{% extends "brubeck/base.html" %}
{% load bootstrap %}

{% block title %}Register{% endblock %}

{% block meta_description %}
While much of the Brubeck database is publically accessible, you must register
in order to add or edit data. Registration is painless and only takes a moment.
{% endblock %}

{% block content %}
<form action="" method="POST" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary">Register</button>
    </div>
</form>
{% endblock %}