{% extends "brubeck/base.html" %}
{% load bootstrap %}
{% load brubeck_tags %}

{% block title %}Search{% endblock %}

{% block meta_description %}
Allows you to search the Brubeck database. You may search by traits that a
space should have - like "compact + connected" - or can search for any object
by the text appearing in its name or description - like "the pressing down lemma".
{% endblock %}

{% block content %}
<section id="search">
    <form action="" method="GET" class="well form-search">
        {{ form.q|bootstrap:"span8 inline" }}
        <button class="btn">Search</button>
    </form>
</section>

<section>
{% if formula_paginator or text_paginator %}
    {% if formula_paginator and text_paginator %}{# Show two columns #}
    <div class="row">
        <div class="span6">
            {% include "brubeck/search/formula_results.html" %}
        </div>
        <div class="span6">
            {% include "brubeck/search/text_results.html" %}
        </div>
    </div>
    {% else %}{# Only one set of results to show #}
        {% if formula_paginator %}
        {% include "brubeck/search/formula_results.html" %}
        {% else %}
        {% include "brubeck/search/text_results.html" %}
        {% endif %}
    {% endif %}

    <!--{% if results.f %}
        <h3>Spaces matching "{{ results.f|safe }}"</h3>
    {% else %}
        {% if results.f_errors %}
        <h3>{{ results.f_errors.0 }}</h3>
        {% endif %}
    {% endif %}

    {% if results.t_count %}
    <h3>Full-text search</h3>
    <p>Found {{ results.t_count }} items. {% if results.t_hits|length < results.t_count %}
        Showing top {{ results.t_hits|length }}.{% endif %}</p>
    {% for doc in results.t_hits %}
        {% lookup_document doc as obj%}
        {% include "brubeck/includes/list_line.html" %}
    {% endfor %}
    {% endif %}-->

{% else %}
    <p>You can search for spaces matching a formula (e.g. compact + ~second countable)
       or do a full-text search of all objects (e.g. by Urysohn's lemma).</p>
{% endif %}
</section>
{% endblock %}

{% block extra_head %}
{% include "brubeck/includes/formula_autocomplete/css.html" %}
{% endblock %}

{% block extra_scripts %}
{% include "brubeck/includes/formula_autocomplete/js.html" %}
{% endblock %}