{% extends "brubeck/base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block title %}{{ plural_name|capfirst }}{% endblock %}

{% block content %}
<h1>All {{ plural_name|capfirst }}
    <a href="{% url create_name %}" class="btn btn-mini btn-success">Add New</a></h1>

{% if is_paginated %}{% pagination page_obj paginator request %}{% endif %}

{% for obj in object_list %}
<div>
    {% include "brubeck/includes/list_line.html" %}
</div>
{% empty %}
<div>No objects found.</div>
{% endfor %}
{% endblock %}