{% extends "brubeck/list/base.html" %}
{% load brubeck %}
{% load url from future %}

{% block title %}Table{% endblock %}

{% block extra_head %}
<style type="text/css">
    td {text-align: center}
    .error {background-color: #ff6454;}
    .yes {background-color: #71ff80;}
    .no {background-color: #fffbab;}
    .extra {background-color: #bfd3ff;}
</style>
{% endblock %}

{% block content %}
<form action="" method="GET" class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="start">Starting space</label>
            <div class="controls">
                <input type="text" name="start"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="end">Ending space</label>
            <div class="controls">
                <input type="text" name="end"/>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="btn">Update Selection</button>
    </div>
</form>

<table>
    <tr>
        <th></th>
        {% for p in properties %}
        <th><a href="{{ p.get_absolute_url }}" title="{{ p.name }}">{{ p.id }}</a></th>
        {% endfor %}
    </tr>
    {% for s in spaces %}
    <tr>
        <td><a href="{{ s.get_absolute_url }}" title="{{ s.name }}">{{ s.id }}</a></td>
        {% for p in properties %}
        {% with traits|get:s.id|get:p.id as t %}
        <td {% contradicts_tag cx s.id p.id t %}>
            {% if t %}
            <a href="{{ t.get_absolute_url }}" title="{{ t }}">{{ t.value.table_display }}</a>
            {% else %}
            <a href="{% url 'create_trait' %}?space={{ s.id }}&property={{ p.id }}" title="{{ s }} / {{ p }}">&nbsp;</a>
            {% endif %}
        </td>
        {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}