{% extends "brubeck/base.html" %}
{% load brubeck_tags %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<h1>{{ object.title }}
    <a href="{{ object.get_edit_url }}" class="btn btn-mini btn-success">Edit</a>
    {% if request.user.is_superuser and object.get_delete_url %}
    <a href="{{ object.get_delete_url }}" class="btn btn-mini btn-danger">Delete</a>
    {% endif %}
</h1>
{% for s in object.snippets.all %}
    {% if s.automatically_added %}
    <p>{{ s.render_html }}</p>
    {% else %}
    {% if s.current_text %}
    <p>{{ s.current_text }}</p>
    {% else %}
    <p><em>It looks like this object was manually added, but no description was given. You can help by <a href="{{ object.get_edit_url }}">adding one</a>.</em></p>
    {% endif %}
    {% endif %}
{% endfor %}

{% block revisions %}
{% if user.is_superuser %}
<a href="{{ object.get_revision_url }}" class="btn">View Revisions &raquo;</a>
{% endif %}
{% endblock %}

{% block extra %}{% endblock %}

<h3>{{ object.traits_desc }} {% block add_trait %}{% endblock %}</h3>
{% if traits %}
    {% with traits as page_obj %}
    {% include "brubeck/includes/pagination.html" %}
    {% endwith %}
    <div class="row">
        {% for trait_col in traits|columns:"3" %}
        <div class="span4">
            <ul>
                {% for t in trait_col %}
                <li><a href="{{ t.get_absolute_url }}">{% block related_trait_name %}{{ t }}{% endblock %}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p><em>(None found)</em></p>
{% endif %}
{% endblock %}