{% extends "brubeck/detail/base.html" %}
{% load url from future %}

{% block breadcrumbs %}
<li><span class="divider">/</span> <a href="{% url 'brubeck:implications' %}">Implications</a></li>
<li class="active"><span class="divider">/</span> {{ object.name }}</li>
{% endblock %}

{% block extra %}
<section id="reversal">
    {% if object.reverses %}
        <p>(This implication reverses.)</p>
    {% else %}
        {% if reverse.exists %}
        <p>This implication does not reverse, as evidenced by
            {% for cx in reverse %}
            {% spaceless %}<a href="{{ cx.get_absolute_url }}">{{ cx.title }}</a>{% if not forloop.last %}, {% endif %}{% endspaceless %}
            {% endfor %}
            {% if reverse_extra %}
            and <a href="?counterexamples=all">{{ reverse_extra }} other{{ reverse_extra|pluralize }}</a>.
            {% endif %}
        </p>
        {% else %}
        <p>No counterexamples found for the converse. This implication may reverse.</p>
        {% endif %}
    {% endif %}
</section>
{% endblock %}