{% extends "brubeck/detail/base.html" %}

{% block extra %}
<section id="reversal">
    {% if reverse.exists %}
    <p>This implication does not reverse, as evidenced by
        {% for cx in reverse %}
        <a href="{{ cx.get_absolute_url }}">{{ cx.title }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% if reverse_extra %}
        and <a href="?counterexamples=all">{{ reverse_extra }} other{{ reverse_extra|pluralize }}</a>.
        {% endif %}
    </p>
    {% else %}
    <p>No counterexamples found for the converse. This implication may reverse.</p>
    {% endif %}
</section>
{% endblock %}