{% extends "brubeck/detail/base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block extra_head %}
<style type="text/css">
    #infovis {
        height: 500px;
        overflow: hidden;
    }
    #infovis .node {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row-fluid" id="proof-overview">
        <div class="span8">
            <div id="infovis"></div>
            {% alert 'Click a node label for more detail. You can pan by dragging or zoom using the scroll wheel' 'info' %}
        </div>
        <div class="span4">
            <h2><a href="{{ object.space.get_absolute_url }}">{{ object.space }}</a>
                <small>is ...</small></h2>
            <div id="inner-details"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="http://thejit.org/static/v20/Jit/jit.js"></script>
<script type="text/javascript">
$(function() {
    var inner_details = $('#inner-details'),
        nodes = $('.node');

    function update_mathjax() {
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, "inner-details"]);
    }

    function update_inner_details(node) {
        var text = node.data.text;
        if (!text) {
            text = '(No text provided)'
        }
        inner_details.html('<h3>∴ ' + node.name + '"</h3>').prepend(text);
        update_mathjax();
    };

    // Initialize the RGraph
    var rgraph = new $jit.RGraph({
        //Where to append the visualization
        injectInto: 'infovis',
        //Optional: create a background canvas that plots
        //concentric circles.
        background: {
            CanvasStyles: {
                strokeStyle: '#eee'
            }
        },
        //Add navigation capabilities:
        //zooming by scrolling and panning.
        Navigation: {
            enable: true,
            panning: true,
            zooming: 30
        },
        //Set Node and Edge styles.
        Node: {
            color: '#2c2c2c'
        },
        Edge: {
            type: 'arrow',
            color: '#08c',
            dim: 10,
            lineWidth: 1
        },
        levelDistance: 100,
        duration: 750,
        interpolation: 'linear',

        onBeforeCompute: update_inner_details,

        //Add the name of the node in the correponding label
        //and a click handler to move the graph.
        //This method is called once, on label creation.
        onCreateLabel: function(domElement, node){
            domElement.innerHTML = node.name;
            domElement.onclick = function(){
                rgraph.onClick(node.id, {
                    onComplete: function() {
                    }
                });
            };
        },
        //Change some label dom properties.
        //This method is called each time a label is plotted.
        onPlaceLabel: function(domElement, node){
            var style = domElement.style;
            style.display = '';
            style.cursor = 'pointer';
            style.fontSize = "1em";
            style.color = "#494949";

            var left = parseInt(style.left),
                w = domElement.offsetWidth,
                top = parseInt(style.top);
            style.left = (left - w / 2) + 'px';
            style.top = (top + 8) + 'px';
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, node.id]);
        }
    });

    // Replace the default arrow type
    a_contains = rgraph.fx.edgeHelper['contains'];
    rgraph.fx.edgeHelper['arrow'] = {
        // This just flips the standard arrow direction
        // TODO: move pointer to middle of node
        'render': function(to, from, dim, inv, canvas) {
            var Complex = $jit.Complex;
            var ctx = canvas.getCtx();
            var vect = new Complex(to.x - from.x, to.y - from.y);
            vect.$scale(dim / vect.norm());
            var intermediatePoint = new Complex(to.x - vect.x, to.y - vect.y),
                    normal = new Complex(-vect.y / 2, vect.x / 2),
                    v1 = intermediatePoint.add(normal),
                    v2 = intermediatePoint.$add(normal.$scale(-1));

            ctx.beginPath();
            ctx.moveTo(from.x, from.y);
            ctx.lineTo(to.x, to.y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(v1.x, v1.y);
            ctx.lineTo(v2.x, v2.y);
            ctx.lineTo(to.x, to.y);
            ctx.closePath();
            ctx.fill();
        },
        'contains': a_contains
    }

    function dump(v) {
        attrs = ',';
        for (a in v) { attrs += a + ',' };
        alert(attrs);
    }

    // Fire off an AJAX query to get the nodes and add them
    $.getJSON("{% url 'brubeck:prove_trait_ajax' s=s p=p %}", function(data) {
        rgraph.loadJSON(data);
        //trigger small animation
        rgraph.graph.eachNode(function(n) {
            var pos = n.getPos();
            pos.setc(-200, -200);
        });
        rgraph.compute('end');
        rgraph.fx.animate({
            modes:['polar'],
            duration: 1250
        });

        //append information about the root relations in the right column
        update_inner_details(rgraph.graph.getNode(rgraph.root));
    })
});
</script>
{% endblock %}