{% extends "brubeck/detail/base.html" %}
{% load url from future %}

{% block extra_head %}
<style type="text/css">
    #infovis {
        height: 400px;
        padding: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="proof-overview">
        <div id="center-container" class="span8">
            <div id="infovis"></div>
        </div>

        <div id="right-container" class="span4">
            <div id="inner-details"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="http://thejit.org/static/v20/Jit/jit.js"></script>
<script type="text/javascript">
$(function() {
    // Initialize the RGraph
    var rgraph = new $jit.RGraph({
        //Where to append the visualization
        injectInto: 'infovis',
        //Optional: create a background canvas that plots
        //concentric circles.
        background: {
            CanvasStyles: {
                strokeStyle: '#555'
            }
        },
        //Add navigation capabilities:
        //zooming by scrolling and panning.
        Navigation: {
            enable: true,
            panning: true,
            zooming: 30
        },
        //Set Node and Edge styles.
        Node: {
            color: '#2c2c2c'
        },

        Edge: {
            color: '#2c2c2c',
            lineWidth:1
        },
        levelDistance: 50,

        onBeforeCompute: function(node){
            //Add the relation list in the right column.
            //This list is taken from the data property of each JSON node.
            $('#inner-details').html('<h3>∴ ' + node.name + '"</h3>').prepend(
                    node.data.text);

            // Re-render MathJAX
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "inner-details"]);
        },

        //Add the name of the node in the correponding label
        //and a click handler to move the graph.
        //This method is called once, on label creation.
        onCreateLabel: function(domElement, node){
            domElement.innerHTML = node.name;
            domElement.onclick = function(){
                rgraph.onClick(node.id, {
                    onComplete: function() {
                    }
                });
            };

            // Re-render MathJAX
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, node.id]);
        },
        //Change some label dom properties.
        //This method is called each time a label is plotted.
        onPlaceLabel: function(domElement, node){
            var style = domElement.style;
            style.display = '';
            style.cursor = 'pointer';
            style.fontSize = "0.8em";
            style.color = "#494949";

            var left = parseInt(style.left);
            var w = domElement.offsetWidth;
            style.left = (left - w / 2) + 'px';
        }
    });

    // Fire off an AJAX query to get the nodes and add them
    $.getJSON("{% url 'brubeck:prove_trait_ajax' s=s p=p %}", function(data) {
//        alert(JSON.stringify(data));
        rgraph.loadJSON(data);
        //trigger small animation
        rgraph.graph.eachNode(function(n) {
            var pos = n.getPos();
            pos.setc(-200, -200);
        });
        rgraph.compute('end');
        rgraph.fx.animate({
            modes:['polar'],
            duration: 2000
        });

        //append information about the root relations in the right column
        var node = rgraph.graph.getNode(rgraph.root);
        $('#inner-details').html('<h3>∴ ' + node.name + '</h3>').prepend(
            node.data.text);

        // Re-render MathJAX
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, "inner-details"]);
    })
});
</script>
{% endblock %}