{% extends "brubeck/detail/base.html" %}
{% load url from future %}

{% block extra_head %}
<style type="text/css">
    #infovis {
        height: 400px;
        padding: 20px;
    }
</style>
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row-fluid" id="proof-overview">
        <div id="infovis" class="span8"></div>
        <div id="inner-details" class="span4"></div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="http://thejit.org/static/v20/Jit/jit.js"></script>
<script type="text/javascript">
$(function() {
    var inner_details = $('#inner-details'),
        nodes = $('.node');

    function update_mathjax() {
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, "inner-details"]);
        // TODO: also update labels
    }

    function update_inner_details(node) {
        var text = node.data.text;
        if (!text) {
            text = '(No text provided)'
        }
        inner_details.html('<h3>∴ ' + node.name + '"</h3>').prepend(text);
        update_mathjax();
    };

    // Initialize the RGraph
    var rgraph = new $jit.RGraph({
        //Where to append the visualization
        injectInto: 'infovis',
        //Optional: create a background canvas that plots
        //concentric circles.
        background: {
            CanvasStyles: {
                strokeStyle: '#555'
            }
        },
        //Add navigation capabilities:
        //zooming by scrolling and panning.
        Navigation: {
            enable: true,
            panning: true,
            zooming: 30
        },
        //Set Node and Edge styles.
        Node: {
            color: '#2c2c2c'
        },
        Edge: {
            color: '#2c2c2c',
            lineWidth:1
        },
        levelDistance: 50,
        duration: 750,
        interpolation: 'linear',

        onBeforeCompute: update_inner_details,

        //Add the name of the node in the correponding label
        //and a click handler to move the graph.
        //This method is called once, on label creation.
        onCreateLabel: function(domElement, node){
            domElement.innerHTML = node.name;
            domElement.onclick = function(){
                rgraph.onClick(node.id, {
                    onComplete: function() {
                    }
                });
            };
        },
        //Change some label dom properties.
        //This method is called each time a label is plotted.
        onPlaceLabel: function(domElement, node){
            var style = domElement.style;
            style.display = '';
            style.cursor = 'pointer';
            style.fontSize = "0.8em";
            style.color = "#494949";

            var left = parseInt(style.left);
            var w = domElement.offsetWidth;
            style.left = (left - w / 2) + 'px';
        }
    });

    // Fire off an AJAX query to get the nodes and add them
    $.getJSON("{% url 'brubeck:prove_trait_ajax' s=s p=p %}", function(data) {
        rgraph.loadJSON(data);
        //trigger small animation
        rgraph.graph.eachNode(function(n) {
            var pos = n.getPos();
            pos.setc(-200, -200);
        });
        rgraph.compute('end');
        rgraph.fx.animate({
            modes:['polar'],
            duration: 1250
        });

        //append information about the root relations in the right column
        update_inner_details(rgraph.graph.getNode(rgraph.root));
    })
});
</script>
{% endblock %}