{% extends "brubeck/detail/base.html" %}
{% load url from future %}

{% block breadcrumbs %}
<li><span class="divider">/</span> <a href="{% url 'brubeck:properties' %}">Properties</a></li>
<li class="active"><span class="divider">/</span> {{ object.name }}</li>
{% endblock %}

{% block add_trait %}<a href="{% url 'brubeck:create_trait' %}?property={{ object.id }}" class="btn btn-mini btn-success">Add</a>{% endblock %}

{% block extra %}
<p>The value of this property is unknown for
    {% for s in unknown %}
    {% spaceless %}<a href="{{ s.get_absolute_url }}">{{ s.name }}</a>{% if not forloop.last %},{% endif %}{% endspaceless %}
    {% endfor %}
    {% if unknown_extra %}
    and <a href="?unknown=all">{{ unknown_extra }} other{{ unknown_extra|pluralize }}</a>
    {% endif %}
</p>
{% endblock %}

{% block related_trait_name %}{{ t.name_without_property }}{% endblock %}