{% extends "brubeck/contribute/base.html" %}
{% load bootstrap %}
{% load brubeck_tags %}

{% block title %}Open Converses{% endblock %}

{% block meta_description %}
Brubeck has no counterexamples for the converses of the following implications.
The implications may be reversible, but for any that aren't, you can help by
adding a counterexample for the converse.
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active"><span class="divider">/</span> Counterexamples</li>
{% endblock %}

{% block content %}
{% if object_list %}
    <p>The following implications have no counterexamples for their converse. Please add an example for any which aren't reversible.</p>

    {% pagination page_obj request %}

    <div class="row">
        {% for column in page_obj|columns:"2" %}
        <div class="span6">
            <ul>
                {% for i in column %}
                <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>The converse of every proof in the database is either proven or has a counterexample. Go add a new one!</p>
{% endif %}
{% endblock %}