{% extends "brubeck/contribute/base.html" %}
{% load url from future %}

{% block title %}Contribute{% endblock %}

{% block meta_description %}
The brubeck project depends on the contributitions of others, and you can
contribute in many ways - mathematical, computational or otherwise.
{% endblock %}

{% block breadcrumbs %}
<li class="active"><span class="divider">/</span> Contribute</li>
{% endblock %}

{% block content %}
<h3>Contributing to Brubeck</h3>
<p>Thanks for your interest in the Brubeck project. If you'd like to contribute, please try one of the following:</p>
<ul>
    <li>Add new <a href="{% url 'brubeck:spaces' %}">Spaces</a>,
        <a href="{% url 'brubeck:properties' %}">Properties</a>,
        <a href="{% url 'brubeck:traits' %}">Traits</a> or
        <a href="{% url 'brubeck:implications' %}">Implications</a></li>
    <li><a href="{% url 'brubeck:needing_descriptions'%}">Add descriptions and proofs to items missing them.</a></li>
    <li><a href="{% url 'brubeck:needing_counterexamples' %}">Add proofs or counterexamples to the converses of known theorems.</a></li>
    <li>Contribute code on <a href="{% url 'brubeck:github' %}">GitHub</a></li>
</ul>
<p>If you have any other ideas, suggestions or bug reports, please don't hesitate to
    <a href="mailto:james.dabbs@gmail.com">email me with them</a>.</p>
{% endblock %}