{% load url from future %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block fulltitle %}{% block title %}Base{% endblock %} | Brubeck{% endblock %}</title>

    <link href="https://s3.amazonaws.com/jdabbs.com/static/brubeck/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet"/>
    {% block extra_head %}{% endblock %}

    {% include "brubeck/includes/google_tracking.html" %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{% url 'brubeck:home' %}"#">Brubeck</a>
            <ul class="nav">
                <li><a href="{% url 'brubeck:spaces' %}">Spaces</a></li>
                <li><a href="{% url 'brubeck:properties' %}">Properties</a></li>
                <li><a href="{% url 'brubeck:traits' %}">Traits</a></li>
                <li><a href="{% url 'brubeck:implications' %}">Implications</a></li>
                <li><a href="{% url 'brubeck:search' %}">Search</a></li>
                <li><a href="{% url 'brubeck:contribute' %}">Contribute</a></li>
                {% if request.user.is_superuser %}
                <li><a href="{% url 'brubeck:table' %}?start=1&end=5">Table</a></li>
                {% endif %}
                {% if request.user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
            </ul>
            <ul class="nav pull-right">
                {% if request.user.is_authenticated %}
                <li><a>{{ request.user.username }}</a></li>
                <li><a href="{% url 'brubeck:logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'brubeck:login' %}?next={{ request.path }}">Login</a></li>
                <li><a href="{% url 'brubeck:register' %}?next={{ request.path }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block container %}
    <div id="content" class="container">
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        {% alert message message.tags %}
        {% endfor %}
        {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% block extra_scripts %}{% endblock %}
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>