{% extends "brubeck/base.html" %}
{% load url from future %}

{% block title %}Home{% endblock %}

{% block meta_description %}
Brubeck is a database of topological information, à la the classic
'Counterexamples in Topology'. It contains descriptions of several important
topological spaces and properties and the interrelationships between each of
them.
{% endblock %}

{% block full_breadcrumbs %}{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Welcome to Brubeck</h1>
    <p>Brubeck is a database of topological information, à la the classic
        <a href="http://books.google.com/books/about/Counterexamples_in_Topology.html?id=DkEuGkOtSrUC">
        Counterexamples in Topology</a>. It contains descriptions of several
        important topological spaces and properties and the interrelationships
        between each of them.</p>
</div>

<h2>Features</h2>
<div class="row">
    <div class="span4">
        <h3>Search by Traits</h3>
        <p>Since Brubeck stores information in a relational database, you can build
           complex queries to find spaces with a certain combination of traits.
           Not sure why a <a href="{% url 'brubeck:property' 'first-countable' %}">first-countable</a>,
           <a href="{% url 'brubeck:property' 'separable' %}">separable</a> space doesn't have to be
           <a href="{% url 'brubeck:property' 'second-countable' %}">second countable</a>? Then
           <a href="{% url 'brubeck:search' %}?q=First+Countable+%2B+Separable+%2B+~Second+Countable">
           search for an example of one that isn't</a>.
        </p>
    </div>
    <div class="span4">
        <h3>Automated Proof Generation</h3>
        <p>Brubeck uses the theorems it has stored to generate proofs when possible.
           As soon as you tell it a space is <a href="{% url 'brubeck:property' 'metrizable' %}">metrizable</a>,
           Brubeck <a href="{% url 'brubeck:implication' 81 %}">knows that it is first countable</a>,
            <a href="{% url 'brubeck:implication' 96 %}">\(T_5\)</a>,
            <a href="{% url 'brubeck:implication' 2 %}">\(T_4\)</a> and
            <a href="{% url 'brubeck:implication' 9 %}">so on</a>.
        </p>
    </div>
    <div class="span4">
        <h3>Traceable Information</h3>
        <p>Every bit of data in the database should be traceable back to first
           principles. To facilitate this, Brubeck allows you to
           <a href="{% url 'brubeck:prove_trait' s='michaels-closed-subspace' p='pseudocompact' %}">
           explore a proof's full implication tree</a>.</p>
    </div>
</div>

<h3>And more to come ...</h3>
<p>Brubeck is in active development. Check out the <a href="{% url 'brubeck:contribute' %}">'contribute'</a>
   page to see how you can help.</p>

<h4>About</h4>
<p>Brubeck follows the tradition of naming <a href="https://www.djangoproject.com/">Django</a>
   apps after <a href="https://github.com/montylounge/django-mingus">jazz</a>
   <a href="http://www.satchmoproject.com/">musicians</a>; the name is a reference
   to <a href="http://en.wikipedia.org/wiki/Dave_Brubeck">Dave Brubeck</a>,
   known for his use of unusual mathematical <a href="http://www.youtube.com/watch?v=kc34Uj8wlmE">time</a>
   <a href="http://www.youtube.com/watch?v=o2In5a9LDNg">signatures</a>.</p>
<p>The code for this site was written by <a href="{% url 'home' %}">me</a>
   and is available on <a href="{% url 'brubeck:github' %}">GitHub</a>. Special thanks
   to Scott V. and the <a href="http://math.auburn.edu/">Auburn</a> mathgrads who helped with the initial data entry.</p>
<p>"Math and science. Boom."</p>
<p>- <a href="mailto:james.dabbs@gmail.com">James</a></p>
{% endblock %}