{% extends "brubeck/base.html" %}
{% load bootstrap %}
{% load brubeck_tags %}

{% block title %}Search{% endblock %}

{% block content %}
<section id="search">
    <form action="" method="GET" class="well form-search">
        {{ form.q|bootstrap:"span8 inline" }}
        <button class="btn">Search</button>
    </form>
</section>

<section>
{% if results %}
    {% if results.f %}
        <h3>Spaces matching "{{ results.f|safe }}"</h3>
        {% if results.f_spaces %}
        <div class="row">
            {% for spaces in results.f_spaces|columns:"2" %}
            <div class="span6">
                <ul>
                    {% for s in spaces %}
                    <li><a href="{{ s.get_absolute_url }}">{{ s.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% else %}
        {% if results.f_errors %}
        <h3>{{ results.f_errors.0 }}</h3>
        {% endif %}
    {% endif %}

    {% if results.t_count %}
    <h3>Full-text search</h3>
    <p>Found {{ results.t_count }} items. {% if results.t_hits|length < results.t_count %}
        Showing top {{ results.t_hits|length }}.{% endif %}</p>
    {% for doc in results.t_hits %}
        {% lookup_document doc as obj%}
        {% include "brubeck/includes/list_line.html" %}
    {% endfor %}
    {% endif %}
{% else %}
    <p>You can search for spaces matching a formula (e.g. compact + ~second countable)
       or do a full-text search of all objects (e.g. by Urysohn's lemma).</p>
{% endif %}
</section>
{% endblock %}

{% block extra_head %}
{% include "brubeck/includes/formula_autocomplete/css.html" %}
{% endblock %}

{% block extra_scripts %}
{% include "brubeck/includes/formula_autocomplete/js.html" %}
{% endblock %}