{% extends "brubeck/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<section id="search">
    <form action="" method="GET">
        <div class="control-group">
            <div class="controls">
                {{ form.q }}
            </div>
        </div>
        <button class="btn btn-primary">Search</button>
    </form>
</section>

<section>
{% if results %}
    {% for desc, obj_list in results %}
        <h3>{{ desc }}</h3>
        {% if obj_list %}
        <ul>
            {% for obj in obj_list %}
            {# obj could be an object or an error string #}
            {% if obj.name %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></li>
            {% else %}
            <li>{{ obj }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <ul><li>None found</li></ul>
        {% endif %}
    {% endfor %}
{% else %}
    <p>You can search by a formula (e.g. Compact + ~Second countable) or by text within descriptions (e.g. by Urysohn's lemma).</p>
{% endif %}
</section>
{% endblock %}